.sitemap-navigation {
  display: inline-block;
  width: 110%;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}
.sitemap-navigation ul,
.sitemap-navigation li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.sitemap-navigation a {
  display: inline-block;
}
.sitemap-navigation .menu-item::before,
.sitemap-navigation > .menu-item-has-children > .sub-menu::before {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  margin-left: -2px;
  width: 100%;
  border-left: #4088c1 solid 4px;
  height: 2em;
}
.sitemap-navigation > .menu-item-has-children::before {
  display: none;
}
.sitemap-navigation > .menu-item-has-children > .sub-menu {
  display: flex;
  border-top: #4088c1 solid 4px;
  margin-top: 2em;
  flex-direction: row;
}
.sitemap-navigation > .menu-item-has-children > .sub-menu::before {
  position: absolute;
  top: -2em;
  margin-top: -4px;
}
.sitemap-navigation > .menu-item-has-children > .sub-menu > .menu-item {
  flex: 1 0 auto;
  margin-top: -4px;
  padding-left: 1em;
  padding-right: 1em;
}
.sitemap-navigation > .menu-item-has-children > .sub-menu > .menu-item:first-child::before, .sitemap-navigation > .menu-item-has-children > .sub-menu > .menu-item:last-child::before {
  background: #fefeff;
}
.sitemap-navigation > .menu-item-has-children > .sub-menu > .menu-item:first-child::before {
  left: auto;
  right: 50%;
  width: 100%;
  border-left: none;
  border-right: #4088c1 solid 4px;
}

body {
  background: #fefeff;
}

.sitemap-wrapper {
  padding: 20px 10%;
  text-align: center;
}

.sitemap-navigation a {
  background: #69dccd;
  border-radius: 0.25em;
  color: white;
  text-decoration: none;
  padding: 1em;
  transition: 0.25s;
}
.sitemap-navigation a:hover {
  background: #04a4a2;
}
.sitemap-navigation > .menu-item-has-children > a {
  background: #f094a0;
  font-size: 1.2rem;
}
.sitemap-navigation > .menu-item-has-children > a:hover {
  background: #b45f77;
}
.sitemap-navigation > .menu-item-has-children > .sub-menu > .menu-item > a {
  background: #f1dba6;
  font-weight: 700;
}
.sitemap-navigation > .menu-item-has-children > .sub-menu > .menu-item > a:hover {
  background: #c0a173;
}
ul.sub-menu {
  display: flex;
  justify-content: space-around;
  border-top: #4088c1 solid 4px;
  margin-top: 2em;
}

ul.subsub {
  display: flex;
    border-top: #4088c1 solid 4px;
    margin-top: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}